{#
| Variable      | Type     | Description                                      |
|---------------|----------|--------------------------------------------------|
| background    | string   | صورة الخلفية                                     |
| title         | string   | عنوان القسم الرئيسي                              |
| description   | string   | نص توضيحي                                        |
| products[]    | array    | قائمة المنتجات                                    |
| display_all_url| string  | رابط عرض الكل                                    |
#}
<section class="s-block s-block--slider-with-bg memory-products-slider-wrapper" style="background-image: url('{{ background }}'); background-size: cover; background-position: center;">
    <div class="slider-bg">
        <div class="container h-full flex flex-col justify-center">
            <div class="s-slider-block__title-left">
                <div>
                    <h2 class="text-white font-bold text-xl sm:text-2xl lg:text-3xl mb-2">
                        {{ (title is iterable ? title[user.language.code]|default(title|first) : title) }}
                    </h2>
                    <p class="text-white/80 text-sm sm:text-base max-w-2xl">
                        {{ (description is iterable ? description[user.language.code]|default(description|first) : description) }}
                    </p>
                </div>
                {% if display_all_url %}
                    <a href="{{ display_all_url }}" class="s-slider-block__display-all">
                        عرض الكل
                        <i class="sicon-keyboard_arrow_left ltr:rotate-180"></i>
                    </a>
                {% endif %}
            </div>
            <div class="swiper products-slider mt-6">
                <div class="swiper-wrapper">
                    {% for product in products %}
                        <div class="swiper-slide">
                            {% include 'partials/product/card.twig' with { product: product } %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
