{#
| Variable      | Type     | Description                                      |
|---------------|----------|--------------------------------------------------|
| title         | string   | عنوان القسم                                      |
| brands[]      | array    | قائمة الماركات                                   |
| brands[].id   | integer  | معرف الماركة                                     |
| brands[].name | string   | اسم الماركة                                      |
| brands[].logo | string   | شعار الماركة                                     |
| brands[].url  | string   | رابط الماركة                                     |
#}
<section class="s-block s-block--brands container">
    <div class="s-block__title">
        <div class="right-side">
            <h2>{{ (title is iterable ? title[user.language.code]|default(title|first) : title) }}</h2>
        </div>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4">
        {% for brand in brands %}
            <div class="brand-item">
                <a href="{{ brand.url }}" class="flex items-center justify-center w-full h-full">
                    <img src="{{ brand.logo }}" alt="{{ brand.name }}" class="max-h-12 w-auto object-contain">
                </a>
            </div>
        {% endfor %}
    </div>
</section>
