{#
| Variable      | Type     | Description                                      |
|---------------|----------|--------------------------------------------------|
| slides[]      | array    | قائمة شرائح الذكريات                             |
| slides[].image| string   | رابط صورة الذكرى                                 |
| slides[].title| string   | عنوان الذكرى                                     |
| slides[].description| string| وصف الذكرى                                      |
| slides[].without_overlay| boolean| إزالة طبقة التعتم                               |
#}
<section class="s-block s-block--hero-slider memory-slider-wrapper">
    <div class="swiper memory-slider">
        <div class="swiper-wrapper">
            {% for slide in slides %}
                <div class="swiper-slide" style="background-image: url('{{ slide.image }}'); background-size: cover; background-position: center;">
                    <div class="overlay-bg"></div>
                    <div class="slide-content">
                        <h2 class="slide-title">{{ (slide.title is iterable ? slide.title[user.language.code]|default(slide.title|first) : slide.title) }}</h2>
                        <p class="slide-description">{{ (slide.description is iterable ? slide.description[user.language.code]|default(slide.description|first) : slide.description) }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
